# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
dist/
.env.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
.env
backend/.env
frontend/.env

venv/
backend/venv/

node_modules/
frontend/node_modules/

dist/
frontend/dist/

__pycache__/
*.pyc